<%+header%>

<% if ( error_msg ~= "" ) then %>
    <p>error: <%=error_msg %></p>
<% end %>

<h2 name="content"><%:Regmon Graph%></h2>


<form action="" method="get">
    <% if metrics ~= nil then %>
       	<select name="timespan">
            <% if timespans ~= nil then %>
      		<% for i, span in ipairs ( timespans ) do %>
       			<option<% if span == current_timespan then %> selected="selected"<% end %>><%=span%></option>
       		<% end %>
          <% end %>
       	</select>
    <% end %>
	<input class="cbi-button cbi-button-apply" type="submit" name="submit" value="<%:Refresh »%>" />
</form>

<br />
<hr />
<br />

<% local phys_list = luci.util.split( phys, "%s+", nil, true ) %>
<% local path = luci.dispatcher.build_url ( "admin", "statistics", "regmon", "graph" ) %>

<% for i, phy in ipairs ( phys_list ) do %>
    <div style="text-align: center">
       <img src="<%=REQUEST_URI%>?img=<%=phy%>&timespan=<%=current_timespan%>" id="regmonimg<%=phy%>" />
    </div>
<% end %>

<script language="javascript" type="text/javascript">
    function refresh(x) {
        <% for i, phy in ipairs ( phys_list ) do %>
            var img = document.getElementById('regmonimg<%=phy%>');
            img.src  = "<%=REQUEST_URI%>?img=<%=phy%>&timespan=<%=current_timespan%>&" + new Date().getTime();
        <% end %>
    }
    XHR.poll (30, '<%=path%>?phys=<%=phys%>&timespan=<%=current_timespan%>&submit=Refresh+»', null, function (xhr, json) { refresh(xhr) })
</script>

<%+footer%>
